Repository SciTools/python-stratify, pull requests merged in 2019-09, with the labels that each got.

#29 Fix installation via setup.py and pip (take 2)
  MANIFEST.in
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
Labels: SemVer: Patch, Type: Infrastructure

#32 remove redundant cython binding dirctive
  .coveragerc
  setup.py
Labels: SemVer: Patch, Type: Infrastructure

#34 bump version to 0.2.dev0
  stratify/__init__.py
Labels: SemVer: Minor, Type: Infrastructure

#37 Add long_description to setup.py
  README.md
  setup.py
Labels: SemVer: Minor, Type: Infrastructure

#36 Use raw strings to avoid invalid escape sequences
  stratify/tests/test_bounded_vinterp.py
  stratify/tests/test_vinterp.py
Labels: Blocked: CLA needed, SemVer: Minor, Type: Enhancement
